@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="row">
    <!--begin::Container-->
    <div class="d-flex flex-row flex-column-fluid container">
        <!--begin::Content Wrapper-->
        <div class="main d-flex flex-column flex-row-fluid">
           
            <!--end::Subheader-->
            <div class="content flex-column-fluid bg-white " id="kt_content">



                <div class="col-md-12  ">
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a asp-controller="Student" asp-action="Create" class="text-warning fw-bold fs-6 h1 ml-3">WorkSpace</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-info-o-25 px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-muted d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a href="#" class="text-muted fw-bold fs-6 h1 ml-3">Bore</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-info-o-25 px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-muted d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a href="#" class="text-muted fw-bold fs-6 h1 ml-3">Refine</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                </div>
                <div class="col-md-12  ">
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-info-o-25 px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-muted d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a href="#" class="text-muted fw-bold fs-6 h1 ml-3">Terrain</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-info-o-25 px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-muted d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a href="#" class="text-muted fw-bold fs-6 h1 ml-3">build</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-info-o-25 px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-muted d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a href="#" class="text-muted fw-bold fs-6 h1 ml-3">Stress</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                    <div class="col-md-4 mt-3 float-left">
                        <div class="col bg-info-o-25 px-6 py-8 rounded-2 me-7 mb-7">
                            <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                            <span class="svg-icon svg-icon-3x svg-icon-muted d-block my-2 h1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <a href="#" class="text-muted fw-bold fs-6 h1 ml-3">route</a>
                            </span>
                            <!--end::Svg Icon-->

                        </div>
                    </div>
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--begin::Content Wrapper-->
    </div>
    <!--end::Container-->

</div>



      