@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/development-hd.png)">
       
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
         
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">

                        <a class="btn btn-info" href="#" @*asp-controller="Account" asp-action="Login"*@ style="padding:10px ; margin:10px">Client Access</a>
                        <a class="btn btn-info" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn" style="padding:10px ; margin:10px">Employee Access</a>
                  


            </div>
       
        </div>
       
    </div>
  
</div>






